abra2=2.23
art_illumina=2.5.8
bedtools=2.29.2
bedGraphToBigWig=4
bowtie2=2.4.1
ensembl-vep=102.0
featureCounts=2.0.1
gatk=4.1.5.0-9-g227b3f6-SNAPSHOT-local
macs2=2.2.7.1
numpy=1.19.5
pandas=1.1.5
plumbum=1.6.9
pypiper=0.12.1
pysam=0.16.0.1
python=3.7.12
samtools=1.12
scipy=1.7.0
star=2.7.5a
trimmomatic=0.39
